@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  box-sizing: border-box;
}

body {
  background: url('http://wirzdesign.com/guitar-images/background-img-low-res.jpg') no-repeat center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 900px;
  position: relative;
  z-index: 0;
  transition: .5s.
}

.layer-overlay {
  position: absolute;
  background-color: rgba(22, 36, 70, .75);
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 1;
  transition: .5s.
}

main {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}

header {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #00ccff;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  /* border: 1px solid white; */
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: .01rem;
  font-size: 1.3rem;
  padding: 0 10px 0;
  line-height: 30px;
}

.guitar-logo {
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

p {
  line-height: 1.9rem;
}

.intro-start {
  width: 320px;
  margin: 0 auto;
}

button {
  background: #003366;
  color: white;
  display: block;
  padding: 10px 15px;
  margin: 25px auto;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all .75s ease;
  border-radius: 3px;
}

.jq-form {
  display: none;
  width: 100%;
  margin-top: 0px;
  z-index: 99;
}

.styled-form {
  width: 100%;
  margin: 0 auto;
}

.start-button, .next-button {
  margin-top: 50px;
}

label {
  padding: 14px;
  margin-bottom: 10px;
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
  line-height: 22px;
  border-radius: 5px;
  font-weight: 500;
}

label:hover, label:focus {
  background-color: #6887d5;
  opacity: .7;
}

label:nth-child(1) {
  background: #000E4C;
}

label:nth-child(2) {
  background: #4C6EFF;
}

label:nth-child(3) {
  background: #3D58CC;
}

label:nth-child(4) {
  background: #0022B2;
}

fieldset {
  border: none;
}
/* input color */
input:checked {
    border: 7px solid #f3d464;;
}
input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transition: 0.2s all linear;
}

input[type=text]:focus {
  width: 250px;
}

input:checked {
  background: white;
}

.start-button {
  cursor: pointer;
  transition: all 0.3s ease;
}
.start-button:hover, .start-button:active {
  background: #15446d;
  color:lightgrey;
}

.submit-button {
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

form button:hover, form button:focus {
  background: #0037BF;
  color: #497bfb;
}

.quiz-start {
  margin: 0 auto;
  width: 100%;
}

#status-bar {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.displayed-content {
  width: 93%;
  margin: 100px auto;
}

img {
  width: 95%;
  height: auto;
  padding: 10px;
}

.wrong-answer, .correct-answer, .final-screen {
  background: rgba(15, 36, 101, 0.65);
  margin: auto;
  text-align: center;
  color: white;
  font-size: 25px;
  padding-bottom: 20px;
  border: 1px solid #8192f1;
}

.redAnswer {
  color: #e41034;
}

.guitarist-image {
  width: 90%;
  border: 1px solid white;
}

.next-button {
  margin-top: 22px;
  padding: 13px 10px 10px;
  font-size: 1.2rem;
}

.guitarist-name {
  font-size: 1.7rem;
  padding-bottom: 10px;
  color: #e41034;
  line-height: 40px;
}

.status-bar {
  color: white;
}

.white-answer-heading {
  color: white;
}

#score-count, #question-count{
    padding: 0 5px 0;
}

@media screen and (min-width:40em) {
  .intro-start {
    width: 400px;
    margin: 0px auto;
  }

  .jq-form {
    width: 80%;
    margin: 0 auto;
    z-index: 40;
  }

  .displayed-content {
    width: 70%;
    margin: 0 auto;
  }

  img {
    width: 80%;
    height: auto;
    padding: 10px;
  }
}

@media screen and (min-width:60em) {
  .jq-form {
    width: 60%;
    margin: 0 auto;
    z-index: 40;
  }
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width:81.25em) {
  .jq-form {
    width: 50%;
    margin: 0 auto;
    z-index: 40;
  }
  .guitar-logo {
    width: 45%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
}
