
* {
  box-sizing: border-box;
}

body {
  background: url('../images/background-img.jpg')
  no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 900px;
  /* overflow: hidden; */
  position: relative;
  z-index: 0
  /* margin:0;
  padding:0; */
  /* font-family: arial; */
}
.layer-overlay {
    background-color: rgba(22,36,70, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: 1;
}

main {
  margin: 50px auto 0;
  position: relative;
  z-index: 2
}

header {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  /* margin: 0;
  width: 360px;
  margin: auto; */
  padding: 15px;
  /* padding-top: 250px; */
  border: 1px solid white;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  /* margin-bottom: 40px; */
  color: #ffffff;
  /* text-transform: uppercase; */
  /* margin-top: 0px; */
  font-size: 1.4rem;
  padding: 0 10px 0;
}
.guitar-logo {
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align:center;
/* padding: 10px; */
}

p {
  line-height: 1.9rem;
}

.intro-start {
  width: 300px;
  margin: 0 auto;
}

button {
  display: block;
  background: #2349ea;;
  color: white;
  padding: 15px 20px;
  margin: 25px auto;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 1s ease;
  border-radius: 3px;

}

.jq-form {
  display: none;
  width: 100%;
  margin-top: 0px;
}
.styled-form {
  width: 100%;
  margin: 0 auto;
}
.start-button, .next-button {
  margin-top: 50px;
}
.start-button:hover {
  background: #0f5bb1;
  /* transition: all 0.3s ease; */
}

button:hover, button:focus {
  /* background-color: #363946; */
  /* color: #ebca52; */
}

label:nth-child(1) {
  background:#000E4C;
}

label:nth-child(2) {
  background:#4C6EFF;
}

label:nth-child(3) {
  background:#3D58CC;
}

label:nth-child(4) {
  background:#0022B2;
}

label {
  padding: 14px;
  margin-bottom: 10px;
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
  line-height: 22px;
  border-radius: 5px;

}

label:hover, label:focus {
  background-color: #1c3e96;
  opacity: .8;
}

fieldset {
  border: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #ffffff;
  transition: 0.4s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

input:checked {
  border: 8px solid #65a7fa;
}
input[type=radio] {
    flex: 0 0 auto;
    /* margin-right: 10px; */
}

.start-button {
  cursor: pointer;
}

.submit-button{
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.3s ease;
  /* margin-top: 15px;
  width: 100%; */
  /* text-align: left; */
  /* border: none; */
  cursor: pointer;
}

form button:hover, form button:focus {
  background: #0037BF;
  color: #497bfb;
}
.jq-form {
  /* display: none; */
  width: 100%;
  margin-top: 0px;
  z-index: 40;
}
.quiz-start {
  margin:0 auto;
  width: 100%;
}

.tally {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
#status-bar {
  text-align: center;
  margin-top:50px;
  padding: 20px;
  color: white;
}
.tally li {
  padding: 5px;
}

.tally li {
  display: inline-block;
  list-style: none;
  color: white;
}

.displayed-content {
  /* display: none; */
  width: 93%;
  margin: 100px auto;
}

img {
  width:100%;
  height:auto;
  padding:10px;
}

/* .correctAnswerImg {
  width:100%;
  height:auto;
  padding:10px;
} */

.wrong-answer, .correct-answer, .final-screen {
  background: rgba(15, 36, 101, 0.65);
  margin: auto;
  text-align: center;
  color: white;
  font-size: 25px;
  border: 1px solid white;
  padding-bottom: 20px;
}

.red {
  color: #F44336;
}

.guitarist-image {
  width: 90%;
  border: 1px solid white;
}

.next-button {
  margin-top: 22px;
}

.guitarist-name {
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: #F44336;
}

.status-bar{
  color:white;
}



@media screen and (min-width:40em) {
  .intro-start {
    width: 320px;
    margin: 0px auto;
}
.jq-form {
    /* display: none; */
    width: 80%;
    margin: 0 auto;
    z-index: 40;
  }
}

@media screen and (min-width:60em) {
.jq-form {
    /* display: none; */
    width: 60%;
    margin: 0 auto;
    z-index: 40;
  }
}
